:root{ /* Parte do CSS feita para declaração de variáveis */
    --color-primary: #239da8;
    --white:#fff;
    --darkerWhite:#ffffffc4;
    --black: #252525;
    --color-secundary: #34d0df;
}
::-webkit-scrollbar{
    background-color: #252525;
    width: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: #b4b4b4;
    border-radius: 15px;
    width: 5px;

}
html{
    scroll-behavior: smooth;
}

*{ /* serão comandos feitos para padronizar todos os objetos do site */
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    overflow-x: hidden; /* esconde a barra de rolagem horizontal */
    background-color: #252525;
}